<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <app-shell></app-shell>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>I'm working!</h1>
          <h2>I'm working!</h2>
          <h3>I'm working!</h3>
          <p>I'm working!</p>
          <app-mainDash></app-mainDash>
          <app-sensorDash></app-sensorDash>
          <app-controlDash></app-controlDash>
        </div>
      </div>
    </div>
  </body>
</html>
